*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $fondo-bg;
    color: $color;
    font-family: $fuente;
    
    .contenedor {
        width: 90%;
        max-width: 1000px;
        margin: auto;
        h1{
            margin: 20px 0;
            text-align: center;
            font-family: $oswald;
            color: $naranja;
            font-weight: normal;
        }
        .articulos{
            margin-bottom: 20px;
            ul {
                list-style: none;
                li{
                    padding: 15px 10px;
                    border-bottom: 1px solid $gris-claro;
                    color: $cafe-bg;
                }
            }
        }
        .paginacion{
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    margin-right: 10px;
                    a{
                        display: inline-block;
                        font-family: $oswald;
                        padding: 15px 25px;
                        background-color: $cafe-bg;
                        color: #fff;
                        text-decoration: none;
                        &:hover{
                            text-decoration: none;
                            background-color: $cyan-bg;
                        }
                    }
                }
                .active{
                    a{
                        background-color: $naranja;
                    }
                }
                .disabled{
                    background-color: $gris-claro;
                    display: inline-block;
                    font-family: $oswald;
                    padding: 15px 25px;
                    cursor: not-allowed;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}